In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [157]:
google_app_data = pd.read_csv(r'''C:\Users\Akshay\Desktop\MIS\First_Sem\Data_Sci_Eng_Mthd\Assignment3\googleplaystore.csv''',encoding="ISO-8859-1")
google_app_user_review = pd.read_csv(r'''C:\Users\Akshay\Desktop\MIS\First_Sem\Data_Sci_Eng_Mthd\Assignment3\googleplaystore_user_reviews.csv''',encoding="ISO-8859-1")

In [158]:
google_app_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>App</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Reviews</th>
      <th>Size</th>
      <th>Installs</th>
      <th>Type</th>
      <th>Price</th>
      <th>Content Rating</th>
      <th>Genres</th>
      <th>Last Updated</th>
      <th>Current Ver</th>
      <th>Android Ver</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Photo Editor &amp; Candy Camera &amp; Grid &amp; ScrapBook</td>
      <td>ART_AND_DESIGN</td>
      <td>4.1</td>
      <td>159</td>
      <td>19M</td>
      <td>10,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design</td>
      <td>January 7, 2018</td>
      <td>1.0.0</td>
      <td>4.0.3 and up</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Coloring book moana</td>
      <td>ART_AND_DESIGN</td>
      <td>3.9</td>
      <td>967</td>
      <td>14M</td>
      <td>500,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design;Pretend Play</td>
      <td>January 15, 2018</td>
      <td>2.0.0</td>
      <td>4.0.3 and up</td>
    </tr>
    <tr>
      <th>2</th>
      <td>U Launcher Lite â FREE Live Cool Themes, Hid...</td>
      <td>ART_AND_DESIGN</td>
      <td>4.7</td>
      <td>87510</td>
      <td>8.7M</td>
      <td>5,000,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design</td>
      <td>August 1, 2018</td>
      <td>1.2.4</td>
      <td>4.0.3 and up</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Sketch - Draw &amp; Paint</td>
      <td>ART_AND_DESIGN</td>
      <td>4.5</td>
      <td>215644</td>
      <td>25M</td>
      <td>50,000,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Teen</td>
      <td>Art &amp; Design</td>
      <td>June 8, 2018</td>
      <td>Varies with device</td>
      <td>4.2 and up</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Pixel Draw - Number Art Coloring Book</td>
      <td>ART_AND_DESIGN</td>
      <td>4.3</td>
      <td>967</td>
      <td>2.8M</td>
      <td>100,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design;Creativity</td>
      <td>June 20, 2018</td>
      <td>1.1</td>
      <td>4.4 and up</td>
    </tr>
  </tbody>
</table>
</div>

In [159]:
google_app_user_review.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>App</th>
      <th>Translated_Review</th>
      <th>Sentiment</th>
      <th>Sentiment_Polarity</th>
      <th>Sentiment_Subjectivity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10 Best Foods for You</td>
      <td>I like eat delicious food. That's I'm cooking ...</td>
      <td>Positive</td>
      <td>1.00</td>
      <td>0.533333</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10 Best Foods for You</td>
      <td>This help eating healthy exercise regular basis</td>
      <td>Positive</td>
      <td>0.25</td>
      <td>0.288462</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10 Best Foods for You</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10 Best Foods for You</td>
      <td>Works great especially going grocery store</td>
      <td>Positive</td>
      <td>0.40</td>
      <td>0.875000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10 Best Foods for You</td>
      <td>Best idea us</td>
      <td>Positive</td>
      <td>1.00</td>
      <td>0.300000</td>
    </tr>
  </tbody>
</table>
</div>

Remove the outliers from the rating column where it has null values

In [160]:
google_app_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [161]:
google_app_data.drop(google_app_data.loc[google_app_data['Type'] == "0"].index, inplace=True, axis=0)
google_app_data.drop(google_app_data.loc[google_app_data['Installs'] == "0"].index, axis=0, inplace=True)
google_app_data.drop(google_app_data.loc[google_app_data['Rating'].isna()].index, axis=0, inplace=True)
google_app_data.drop(google_app_data.loc[google_app_data['Size'] == "Varies with device"].index, axis=0, inplace=True)
google_app_data['Size'] = google_app_data['Size'] = google_app_data['Size'].apply(lambda x:float(x.replace("M", ""))*1024 if "M" in x else float(x.replace("k","")))

google_app_data.reset_index(drop=True,inplace=True)
print(google_app_data.shape)

#google_app_data.head(10000)

(7729, 13)

In [163]:
#google_app_data = google_app_data.dropna(axis=0,how='any')
values = {'Rating': 0.0, 'Type': 'Free', 'Content Rating': 'Unrated'}
google_app_data.fillna(value=values, inplace=True)
#google_app_data.head(10000)

In [104]:
google_app_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7729 entries, 0 to 10840
Data columns (total 13 columns):
App               7729 non-null object
Category          7729 non-null object
Rating            7729 non-null float64
Reviews           7729 non-null object
Size              7729 non-null object
Installs          7729 non-null object
Type              7729 non-null object
Price             7729 non-null object
Content Rating    7729 non-null object
Genres            7729 non-null object
Last Updated      7729 non-null object
Current Ver       7725 non-null object
Android Ver       7727 non-null object
dtypes: float64(1), object(12)
memory usage: 845.4+ KB

Remove few columns which are not helpful in the rating pradiction for dataset.

In [45]:
#google_app_data[google_app_data[['Type']] == 0].drop(axis=0,inplace=True)
google_app_data.drop(columns=['App', 'Last Updated', 'Current Ver', 'Android Ver'], axis=1, inplace=True)
Y = google_app_data.Rating
#google_app_data_train = random.sample(range(0, google_app_data.shape[0]),)
X_train, X_test, y_train, y_test = train_test_split(google_app_data, Y, test_size=0.3)

In [46]:
google_app_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category</th>
      <th>Rating</th>
      <th>Reviews</th>
      <th>Size</th>
      <th>Installs</th>
      <th>Type</th>
      <th>Price</th>
      <th>Content Rating</th>
      <th>Genres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ART_AND_DESIGN</td>
      <td>4.1</td>
      <td>159</td>
      <td>19M</td>
      <td>10,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ART_AND_DESIGN</td>
      <td>3.9</td>
      <td>967</td>
      <td>14M</td>
      <td>500,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design;Pretend Play</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ART_AND_DESIGN</td>
      <td>4.7</td>
      <td>87510</td>
      <td>8.7M</td>
      <td>5,000,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ART_AND_DESIGN</td>
      <td>4.5</td>
      <td>215644</td>
      <td>25M</td>
      <td>50,000,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Teen</td>
      <td>Art &amp; Design</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ART_AND_DESIGN</td>
      <td>4.3</td>
      <td>967</td>
      <td>2.8M</td>
      <td>100,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design;Creativity</td>
    </tr>
  </tbody>
</table>
</div>