In [100]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from scipy import stats

In [223]:
google_app_data = pd.read_csv(r'''C:\Users\Akshay\Desktop\MIS\First_Sem\Data_Sci_Eng_Mthd\Assignment3\googleplaystore.csv''',encoding="ISO-8859-1")
google_app_user_review = pd.read_csv(r'''C:\Users\Akshay\Desktop\MIS\First_Sem\Data_Sci_Eng_Mthd\Assignment3\googleplaystore_user_reviews.csv''',encoding="ISO-8859-1")

In [224]:
google_app_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>App</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Reviews</th>
      <th>Size</th>
      <th>Installs</th>
      <th>Type</th>
      <th>Price</th>
      <th>Content Rating</th>
      <th>Genres</th>
      <th>Last Updated</th>
      <th>Current Ver</th>
      <th>Android Ver</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Photo Editor &amp; Candy Camera &amp; Grid &amp; ScrapBook</td>
      <td>ART_AND_DESIGN</td>
      <td>4.1</td>
      <td>159</td>
      <td>19M</td>
      <td>10,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design</td>
      <td>January 7, 2018</td>
      <td>1.0.0</td>
      <td>4.0.3 and up</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Coloring book moana</td>
      <td>ART_AND_DESIGN</td>
      <td>3.9</td>
      <td>967</td>
      <td>14M</td>
      <td>500,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design;Pretend Play</td>
      <td>January 15, 2018</td>
      <td>2.0.0</td>
      <td>4.0.3 and up</td>
    </tr>
    <tr>
      <th>2</th>
      <td>U Launcher Lite â FREE Live Cool Themes, Hid...</td>
      <td>ART_AND_DESIGN</td>
      <td>4.7</td>
      <td>87510</td>
      <td>8.7M</td>
      <td>5,000,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design</td>
      <td>August 1, 2018</td>
      <td>1.2.4</td>
      <td>4.0.3 and up</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Sketch - Draw &amp; Paint</td>
      <td>ART_AND_DESIGN</td>
      <td>4.5</td>
      <td>215644</td>
      <td>25M</td>
      <td>50,000,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Teen</td>
      <td>Art &amp; Design</td>
      <td>June 8, 2018</td>
      <td>Varies with device</td>
      <td>4.2 and up</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Pixel Draw - Number Art Coloring Book</td>
      <td>ART_AND_DESIGN</td>
      <td>4.3</td>
      <td>967</td>
      <td>2.8M</td>
      <td>100,000+</td>
      <td>Free</td>
      <td>0</td>
      <td>Everyone</td>
      <td>Art &amp; Design;Creativity</td>
      <td>June 20, 2018</td>
      <td>1.1</td>
      <td>4.4 and up</td>
    </tr>
  </tbody>
</table>
</div>

Data Cleaning for the null values in the columns

In [ ]:
google_app_data.drop(google_app_data.loc[google_app_data['Type'] == "0"].index, inplace=True, axis=0)
google_app_data.drop(google_app_data.loc[google_app_data['Installs'] == "0"].index, axis=0, inplace=True)
google_app_data.drop(google_app_data.loc[google_app_data['Rating'].isna()].index, axis=0, inplace=True)
google_app_data.drop(google_app_data.loc[google_app_data['Size'] == "Varies with device"].index, axis=0, inplace=True)
google_app_data.info()

Clean the data for size column which contain the "M" and "k" characters in the column values. Change the datatype of the review column as float.

In [ ]:
google_app_data['Size'] = google_app_data['Size'].apply(lambda x:float(x.replace("M", ""))*1024 if "M" in x else float(x.replace("k","")))
google_app_data['Reviews'] = google_app_data['Reviews'].astype(float)
google_app_data.reset_index(drop=True, inplace=True)
google_app_data.info()

Fill the values for "Rating", "Type", "Content Rating" and "Price" columns as mention below.

In [226]:
values = {'Rating': 0.0, 'Type': 'Free', 'Content Rating': 'Unrated','Price':'0.0'}
google_app_data.fillna(value=values, inplace=True)
google_app_data.info()

(7729, 13)

Below function is used to clean the price column from the dataset since it contain the "$" sign in it. Also remove the duplicate records from the dataset based on the application name.

In [228]:
def price_quality(temp):
    if temp == "0":
        return 0
    else:
        temp = temp[1:]
        temp = float(temp)
        return temp
    
    
google_app_data['Price'] = google_app_data['Price'].map(price_quality).astype(float)  
google_app_data.drop_duplicates(subset='App', keep='first', inplace=True)

Remove few columns which are not helpful in the application rating pradiction for dataset. Also create new dataframe with dummie variables.

In [229]:
google_app_data.drop(columns=['App', 'Last Updated', 'Current Ver', 'Android Ver'], axis=1, inplace=True)
google_app_data_with_categories = pd.DataFrame(pd.get_dummies(google_app_data))
google_app_data_with_categories.info()
google_app_data.info()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category</th>
      <th>Rating</th>
      <th>Reviews</th>
      <th>Size</th>
      <th>Installs</th>
      <th>Type</th>
      <th>Price</th>
      <th>Content Rating</th>
      <th>Genres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ART_AND_DESIGN</td>
      <td>4.1</td>
      <td>159.0</td>
      <td>19456.0</td>
      <td>10,000+</td>
      <td>Free</td>
      <td>0.0</td>
      <td>Everyone</td>
      <td>Art &amp; Design</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ART_AND_DESIGN</td>
      <td>3.9</td>
      <td>967.0</td>
      <td>14336.0</td>
      <td>500,000+</td>
      <td>Free</td>
      <td>0.0</td>
      <td>Everyone</td>
      <td>Art &amp; Design;Pretend Play</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ART_AND_DESIGN</td>
      <td>4.7</td>
      <td>87510.0</td>
      <td>8908.8</td>
      <td>5,000,000+</td>
      <td>Free</td>
      <td>0.0</td>
      <td>Everyone</td>
      <td>Art &amp; Design</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ART_AND_DESIGN</td>
      <td>4.5</td>
      <td>215644.0</td>
      <td>25600.0</td>
      <td>50,000,000+</td>
      <td>Free</td>
      <td>0.0</td>
      <td>Teen</td>
      <td>Art &amp; Design</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ART_AND_DESIGN</td>
      <td>4.3</td>
      <td>967.0</td>
      <td>2867.2</td>
      <td>100,000+</td>
      <td>Free</td>
      <td>0.0</td>
      <td>Everyone</td>
      <td>Art &amp; Design;Creativity</td>
    </tr>
  </tbody>
</table>
</div>

EDA - Exploratory data Analysis

Showing the distrubution of application as per the catory for google application dataset.

In [232]:
categories_data = google_app_data['Category'].value_counts().reset_index()
categories_data.head()
plt.figure(figsize=(10,10))
pie_plot = plt.subplot(1,1,1)
plt.pie(x=categories_data['Category'], labels=categories_data['index'], autopct='%1.1f%%')
plt.legend()
pie_plot.legend(bbox_to_anchor=(1.4,1))
plt.show()

Checking the distibution of the rating for all the application present in the dataset.

In [ ]:
plt.figure(figsize=(12,12))
sns.distplot(google_app_data['Rating'])
plt.legend(['Rating'])
plt.show()

Linear Regression Model 1: This model include only continueous predictors in order to predict the rating of the applicaiton.

In [236]:
google_app_data.head()
model1_data = google_app_data.drop(columns=['Rating','Category', 'Genres', 'Content Rating', 'Installs', 'Type','Size'])
Y = google_app_data.Rating
x1_train, x1_test, y1_train, y1_test = train_test_split(model1_data, Y, test_size=0.3)
linear_model = LinearRegression()
linear_model.fit(x1_train,y1_train)
linear_model.predict(x1_test)

model1_ols = sm.OLS(y1_train, x1_train[['Reviews','Price']])
model1_metrics = model1_ols.fit()
print(model1_metrics.summary())
x1_train.info()

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Rating   R-squared:                       0.024
Model:                            OLS   Adj. R-squared:                  0.024
Method:                 Least Squares   F-statistic:                     60.56
Date:                Sat, 17 Nov 2018   Prob (F-statistic):           1.04e-26
Time:                        17:30:35   Log-Likelihood:                -13984.
No. Observations:                4920   AIC:                         2.797e+04
Df Residuals:                    4918   BIC:                         2.798e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Reviews     5.417e-07   5.34e-08     10.139      0.000    4.37e-07    6.46e-07
Price          0.0134      0.003      4.280      0.000       0.007       0.020
==============================================================================
Omnibus:                     7237.496   Durbin-Watson:                   0.081
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          6214883.449
Skew:                          -8.529   Prob(JB):                         0.00
Kurtosis:                     176.279   Cond. No.                     5.86e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.86e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4920 entries, 6397 to 481
Data columns (total 2 columns):
Reviews    4920 non-null float64
Price      4920 non-null float64
dtypes: float64(2)
memory usage: 115.3 KB