In [29]:
import pandas as pd
import numpy as np
from ggplot import *
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix

In [44]:
data_url = "../galton-data.csv"
#print(data_url)
galton_data = pd.read_csv(data_url,encoding = "ISO-8859-1")
#galton_data.head()
data_url = '../AnnualSpending.csv'
spend_data = pd.read_csv(data_url)
#spend_data.head()
data_url = '../data.worldbank.org.csv'
world_bank_data = pd.read_csv(data_url,encoding = "ISO-8859-1")
world_bank_data = world_bank_data.replace({"..":np.nan,"?":np.nan})
#world_bank_data.head()
#galton_data.head()

In [45]:
galton_height_gender_cols = galton_data[["height","gender"]]
galton_height_gender_cols.head()

   height gender
0    73.2      M
1    69.2      F
2    69.0      F
3    69.0      F
4    73.5      M

In [46]:
world_bank_data.head()
print("Total number of rows which have NAN value: ",world_bank_data.shape[0]-world_bank_data.dropna().shape[0])
world_bank_data = world_bank_data[["Country","Life.expectancy","Infant.mortality","Per.capita.income","Literacy"]]
world_bank_data = world_bank_data.dropna()
world_bank_country = world_bank_data[["Country"]]
world_bank_data = world_bank_data.reset_index().drop(['index','Country'],axis=1)
world_bank_data.head()
#print(world_bank_data.shape[0])

Total number of rows which have NAN value:  172
45

In [1]:
spend_data.head()

NameError: name 'spend_data' is not defined